#hplc {width: 100%; position: absolute; top: 0px; left: 0px; z-index: 1;
        padding: 0;margin: 0;height: 500px}
#myphoto {position: absolute;top:450px;left:600px;z-index:2}
h1 {position: absolute; top: 0px; left: 25%; z-index: 3;color:#00f;
    font-size: 100px;font-family: Arial, Helvetica, sans-serif;
    font-style: oblique}
#rest {background-image:url("http://tu.yiwu.com.cn/fg/shuicai/8.jpg");
       float: left;position: relative;top: 500px;
       background-repeat: no-repeat;background-size: cover}
#content {margin-left: 100px;font-family: Arial, Helvetica, sans-serif;
          font-size: 20px;font-style: italic;padding: 50px} 
body {margin: 0px}      
ol {list-style-type: upper-latin}
#edu {list-style-type: decimal;color:rgb(0,0, 0)}
.footer {color:white; font-family:arial; background: #000;height:50px;
 font-size:15px; text-align:center;font-family: sans-serif;padding-top:30px;}
 #doc img {width: 10%}
 #doc img:hover {width:50%}
 li a {color:#fff}
 button{padding: 10px;margin-left:470px;border-radius: 10px}