/*general*/
img{width:100%}
body{margin: 0px;padding: 0px;background-image: url(http://wallpapercave.com/wp/92r6xWU.jpg)}

.grid-item {list-style-type: none;
   margin-left:1%}
   #grid-floats .grid-item  {height: 650px;overflow: hidden;} 
/*grid-floats*/
#grid-floats .grid-item  {float: left;width: 24%;
 }
#grid-floats .grid-item:nth-child(n):nth-child(-n+3)
 {width:32% }
 @media screen and (min-width:401px) and (max-width: 767px)
  {
  #grid-floats .grid-item { width: 32%}
   #grid-floats .grid-item:nth-child(n):nth-child(-n+2) {width:49% }
  }

 @media screen and (max-width: 400px) 
  { #grid-floats .grid-item {width: 49%}
   #grid-floats .grid-item:nth-child(n):nth-child(-n+1){width:99% }
    }   

  main section:nth-child(2){clear: both}

/*grid-flex*/
#grid-flex { display: flex;flex-wrap: wrap;
    max-width: 1200px;}   

#grid-flex .grid-item  {width: 24%}
  

#grid-flex .grid-item:nth-child(n):nth-child(-n+3) {width:32% }


 @media screen and (min-width:401px) and (max-width: 767px) {
  #grid-flex .grid-item { width: 32%}
  #grid-flex .grid-item:nth-child(n):nth-child(-n+2) {width:49% }
 }

 @media screen and (max-width: 400px)  {
   #grid-flex .grid-item {width: 49%}
   #grid-flex .grid-item:nth-child(n):nth-child(-n+1){width:99% }
      
      }  
